body {
  /*margin: 0;*/
  padding: 0;
  line-height:1.4;
  color:#333;
  font-family:Arial, sans-serif;
  font-size:0.9em;
  text-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
@media screen and (min-width: 640px;){}
@media screen and (min-width: 768px;){}
@media screen and (min-width: 1024px;){}
